@import "tailwindcss";

@keyframes fade-in {
  0% { opacity: 0; transform: translateY(8px); }
  100% { opacity: 1; transform: translateY(0); }
}

.animate-fade-in {
  animation: fade-in 0.25s ease-out forwards;
}


::-webkit-scrollbar {
  width: 0;
  height: 0;
}
